global
    maxconn 4096
    log /dev/log    local0
    log /dev/log    local1 notice
    #user haproxy
    #group haproxy

defaults
    log global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    retries 3
    maxconn 2000
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend http-stats
        bind *:10082
        mode http
        stats enable
        stats realm DCOS\ Haproxy
        stats auth admin:zjdcos01
        stats uri /status

{{ range $spec := getvs "/registry/services/endpoints/kube-system/kubernetes-dashboard" }}
{{ $data := json $spec }}
frontend kubernetes-dashboard
    bind *:80
    default_backend {{ $data.metadata.name }}

backend {{ $data.metadata.name }}
    balance source
    option httpclose
    option forwardfor
    {{ range $subset := $data.subsets }}
    {{ range $ref := $subset.addresses }}
    {{ range $portConfig := $subset.ports }}
    server {{ $ref.targetRef.name }} {{ $ref.ip }}:{{ $portConfig.port }} check inter 30000 
    {{ end }}
    {{ end }}
    {{ end }}
{{ end }}

{{ range $spec := getvs "/registry/services/endpoints/kube-system/prometheus-svc" }}
{{ $data := json $spec }}
frontend prometheus-svc
    bind *:81
    default_backend {{ $data.metadata.name }}

backend {{ $data.metadata.name }}
    balance source
    option httpclose
    option forwardfor
    {{ range $subset := $data.subsets }}
    {{ range $ref := $subset.addresses }}
    {{ range $portConfig := $subset.ports }}
    server {{ $ref.targetRef.name }} {{ $ref.ip }}:{{ $portConfig.port }} check inter 30000 
    {{ end }}
    {{ end }}
    {{ end }}
{{ end }}
