[Unit]
Description=Kubernetes Kubelet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet --network-plugin=cni --allow-privileged=true --logtostderr=true --address=0.0.0.0 --port=10250 --cluster-dns=10.0.1.1 --cluster-domain=cluster.local --pod-infra-container-image=reg.dnt:5000/google_containers/pause:3.0 --api-servers=http://20.26.2.110:18080 --config=/etc/kubernetes/manifests
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target

