[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
#Environment="HTTP_PROXY=http://192.168.1.106:8118" "HTTPS_PROXY=http://192.168.1.106:8118" "NO_PROXY=localhost,127.0.0.1,reg.dnt"
#Environment="https_proxy=http://192.168.1.106:8118"
EnvironmentFile=-/etc/default/docker
ExecStart=/usr/bin/dockerd --graph=/data/docker --insecure-registry 0.0.0.0/0 -H tcp://0.0.0.0:4243 -H -tcp://0.0.0.0:6071 H unix:///var/run/docker.sock --log-driver=json-file --log-opt max-size=1g --log-opt max-file=1 --live-restore=false $DOCKER_OPTS
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
#TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process

[Install]
WantedBy=multi-user.target
MountFlags=share
